<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:integration="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/integration
           http://www.springframework.org/schema/integration/spring-integration-1.0.xsd">
	<bean id="studentbean"
		class="com.springpractice.springcore.student">
		<!-- The bean is created by using setter method -->
		<property name="age" value="23"></property>
		<property name="name" value="Navneet"></property>
		<property name="rollno" value="23"></property>
	</bean>
	
 <bean id="student2bean" class="com.springpractice.springcore.student2">
 <!-- the bean is created and initialized by constructors -->
 <constructor-arg name="age" value="23"></constructor-arg>
 <constructor-arg name="rollno" value="2" ></constructor-arg>
 <constructor-arg name="name" value="navneet"></constructor-arg>
 </bean>
 
</beans>